.container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.block {
	width: 48%;
	background: lime;
	margin-top: 20px;
}

.block.block_type_1 {
	width: 20%;
	min-width: 200px;
	max-width: 300px;
}

.block.block_type_2 {
	width: 57%;
}
